/*************************************************************
 * SPDX-FileCopyrightText: Copyright [year] Arm Limited and/or its affiliates
 *************************************************************/